/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 de ago de 2023, 10:05:44
    Author     : mvitoria
*/

body{
    display: flex;
    flex-direction: column;
    white-space: pre-line;


}

a{ /* corrigir cores, padding e achar bordas estilosas*/
    color: grey;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
}


.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 25px;
}

.tema{
    display: flex;
    flex-direction: column;
    border-color: pink;
    border: groove 1.5px;
    border-radius: 0px 20px 0px 20px;

}