.gradient {
    background: linear-gradient(135deg, #e06199 0%, #873467 100%);
    -webkit-background-clip: text;
    /* background-clip: ; */
    -webkit-text-fill-color: transparent;
}

.banner {
    background-color: #ffebee;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner img {
    max-width: 500px;
}

.curso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.rodape {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #c490ca;
    padding: 20px;
    color: white;
    font-size: 14px;
}

.header {
    position: static;
    width: 100%;
    top: 0;
}

.container p {
    text-align: justify;
    font-size: 11pt
}