.header {
    position: static;
    width: 100%;
    top: 0;
}

.container p {
    text-align: justify;
    font-size: 11pt
}

.card-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.card-text {
    color: #555;
    font-size: 1.1rem;
}

.ui-card .ui-card-title {
    color: #333;
}
